<footer>
    
    <div id="footerInner">
        <a href="https://gallery.proficad.com/pages/search.aspx?l=cs">hledat značky</a> 
        <a href="https://gallery.proficad.com/znacky/?l=cs">procházet značky</a> 
        <a href="https://gallery.proficad.com/tools/autocad-viewer.aspx">prohlížeč DXF a DWG</a> 
        

        <a href="/eula.aspx">licenční podmínky</a>
        <a href="/privacy.aspx">ochrana osobních údajů</a> 
        <a href="/cookies.aspx">cookies</a> 

        <a href="/reference.aspx">hodnocení uživatelů</a>
        <a href="/subscribe/subscribe.aspx">odebírat novinky emailem</a>

        <a href="https://youtube.com/@ProfiCAD">YouTube</a>
        <a href="https://www.facebook.com/ProfiCAD.en">facebook</a>


        <hr class="footer" />
        


<nav id="selLang">
<a href="https://www.proficad.cz">Česky</a>
<a href="https://de.proficad.eu">Deutsch</a>
<a href="https://www.proficad.com">English</a>
<a href="https://es.proficad.com">Espa&ntilde;ol</a>
<a href="https://fr.proficad.eu">Français</a>
<a href="https://it.proficad.eu">Italiano</a>
<a href="https://nl.proficad.eu">Nederlands</a>
<a href="https://pl.proficad.eu">Polski</a>
<a href="https://ro.proficad.eu">Română</a>
<a href="https://cn.proficad.com">中文</a>
</nav>



    </div>
</footer>
